# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build artifacts & cache
/.next/
/out/

# Python artifacts
__pycache__/
*.pyc
/venv/
/.venv/
env/
.env

# Local Environment Variables (CRITICAL for security)
.env*.local
.env

# Docker
# Abaikan file override yang biasanya berisi konfigurasi lokal
docker-compose.override.yml

# Misc & OS-specific
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build info
tsconfig.tsbuildinfo